<div class="my-20 md:my-36">
  <h2 class="subtitle text-center text-2xl lg:text-5xl font-bold">
    NUESTRAS SUCURSALES
  </h2>
  <div
    class="Sucursal flex flex-wrap items-center justify-center mb-10 bg-gradient-to-l to-orange-600 from-yellow-400 p-6 gap-4 md:gap-12"
  >
    <a
      class="Sucursales scale-75 shadow-lg w-[80%] md:w-[45%] lg:w-[30vw]"
      href="/Sucursales/LaPaz"
    >
      <img class="w-full h-full" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class="Sucursales scale-75 shadow-lg w-[80%] md:w-[45%] lg:w-[30vw]"
      href="/Sucursales/LaPaz"
    >
      <img class="w-full h-full" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class="Sucursales scale-75 shadow-lg w-[80%] md:w-[45%] lg:w-[30vw]"
      href="/Sucursales/LaPaz"
    >
      <img class="w-full h-full" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class="Sucursales scale-75 shadow-lg w-[80%] md:w-[45%] lg:w-[30vw] hover:shadow-2xl"
      href="/Sucursales/LaPaz"
    >
      <img class="w-full" src="/sedeLaPaz.jpeg" alt="">
    </a>
    
  </div>
</div>

  <style>
    .Sucursales{
      transition: .7s all;
    }
    .Sucursales:hover{
      transform: scale(1.1);
    }
    button{
      background:linear-gradient(to right, rgb(255, 81, 0), rgb(248, 224, 6));
      transition: 1.4s background !important;
    }
    button:hover{
      background:linear-gradient(to right, rgb(248, 224, 6), rgb(255, 81, 0));

    }
    h3{
        color: rgb(229 231 235);
    }
  </style>
  <script>
    const ListaSucursales = document.querySelectorAll('.Sucursales')
    const options={
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  }
    function escalarSucursal(entrys,observe){
    entrys.forEach(entry => {
      if(entry.isIntersecting){
          if(entry.target.classList.contains('scale-75')){
            entry.target.classList.remove('scale-75')
          
          }
        }
    });
  }
let obserberSucursal = new IntersectionObserver(escalarSucursal, options)
  ListaSucursales.forEach(sucursal=>{
    obserberSucursal.observe(sucursal)
  })
  </script>