<div class="my-20 md:my-36">
  <h2
    class="my-7 subtitle -translate-x-[50%] italic text-center text-3xl lg:text-6xl font-black"
  >
    <span class="font-[Adelia] text-blue-950 text-xl md:text-3xl"
      >Presencia a</span
    >Nivel Nacional
  </h2>
  <div
    class="Sucursal z-10 relative flex flex-wrap items-center justify-center mb-10 bg-[rgb(217,74,0)] p-6 gap-4 md:gap-12"
  >
    <img
      class="z-0 opacity-15 object-cover absolute w-full h-full"
      src="/Sucursales/ImagenPrueba.jfif"
      alt=""
    />
  </div>
</div>
<style>
  button {
    background: linear-gradient(to right, rgb(255, 81, 0), rgb(248, 224, 6));
    transition: 1.4s background !important;
  }
  button:hover {
    background: linear-gradient(to right, rgb(248, 224, 6), rgb(255, 81, 0));
  }
  h3 {
    color: rgb(229 231 235);
  }
</style>
<script>
  import SucursalJSON from '../EditarImagenesNoticias/SucursalesJSON.json'
  const Sucursal = document.querySelector('.Sucursal')
  Sucursal.innerHTML += SucursalJSON.map((sucursal)=>{
    return(
      `
      <a
      class="transition-all duration-700 transform  hover:scale-[1.1] relative flex justify-start items-center Sucursales scale-75 shadow-lg w-[80%] md:w-[45%] lg:w-[30vw]"
      href="/Sucursales/${sucursal.enlace}"
    >
      <img
        class="w-full"
        src="/Sucursales/${sucursal.imagen}.png"
        alt="Sucursal de Quillacollo"
      />
      <img
        class="IconSucur animate-[iconAnimation_2s_infinite] absolute w-[40%] left-8 md:left-14"
        src="/Sucursales/${sucursal.icono}.png"
        alt="Icono de Quillacollo"
      />
    </a>
      `
    )
  }).join('')
  const ListaSucursales = document.querySelectorAll(".Sucursales");
  const options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  };
  function escalarSucursal(entrys, observe) {
    entrys.forEach((entry) => {
      if (entry.isIntersecting) {
        if (entry.target.classList.contains("scale-75")) {
          entry.target.classList.remove("scale-75");
        }
      }
    });
  }
  let obserberSucursal = new IntersectionObserver(escalarSucursal, options);
  ListaSucursales.forEach((sucursal) => {
    obserberSucursal.observe(sucursal);
  });
  
</script>
