<div class="my-20 md:my-36 grid place-items-center">
  <h2 class="subtitle text-center text-2xl lg:text-5xl font-bold">NOTICIAS</h2>
  <div class="flex justify-center flex-wrap md:flex-nowrap w-full">
    <div class="card">
      <div class="card-image"></div>
      <div class="category">Noticia nro 1</div>
      <div class="heading">A heading that must span over two lines</div>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category">Noticia nro 1</div>
      <div class="heading">A heading that must span over two lines</div>
    </div>
    <div class="card">
      <div class="card-image"></div>
      <div class="category">Noticia nro 1</div>
      <div class="heading">A heading that must span over two lines</div>
    </div>
  </div>
  <button class="mt-12 bg-orange-500 text-white text-3xl font-bold w-[90%] md:w-[30%] rounded-xl hover:scale-[1.1] transition-all" ><a class="block text-sm md:text-lg" href="/Noticias">Ver Más</a></button>
</div>
<style>
  .card {
    width: 270px;
    height: 250px;
    margin: 20px;
    background: #eee;
    padding: 0.4em;
    transition: 1s all;
    border-radius: 6px;
  }
  .card:hover {
    background-color: rgb(255, 189, 91);
  }

  .card-image {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 180px;
    border-radius: 6px 6px 0 0;
  }

  .card-image:hover {
    transform: scale(0.98);
  }

  .category {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }

  .category:hover {
    cursor: pointer;
  }

  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    font-size: 1rem;
  }

  .heading:hover {
    cursor: pointer;
  }

  .name {
    font-weight: 600;
  }

  .name:hover {
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .card {
      width: 30%;
      height: 35vh;
    }
    .card-image {
      height: 380px;
    }
    .category {
      font-size: 1.9rem;
    }
    .heading {
      font-size: 1.5rem;
    }
  }
</style>
