---
import Layout from "../layouts/Layout.astro";
import Present from "../components/CarruselesFotos/Present.astro";
import ListaSucursales from '../components/ListaSucursales.astro'
import ListCarreras from "../components/ListCarreras.astro";
import GaleriaPrincipal from "../components/CarruselesFotos/GaleriaPrincipal.astro";
import ListNoticias from "../components/ListNoticias.astro";
import Titulo from '../components/Titulo.astro'
---

<Layout title="Rey de Reyes | Instituro academico ">
  <div class="w-full h-[70vh] xl:[60vh]">
    <Present />
  </div>
  <div
   class="my-10 text-3xl flex-col font-semibold flex items-center text-center bg-white p-7 lg:p-14"
  >
    <p>
      隆Estudia con nosotros! Somos el mejor centro de estudios y cursos en la ciudad
      隆te esperamos!
    </p>
  </div>
<div class="my-10 w-auto h-auto">
  <h2 class="subtitle text-center text-2xl lg:text-5xl font-bold">
    NUESTRAS CARRERAS
  </h2>
  <div
    class="mb-10 relative w-full  bg-gray-200 p-6 flex justify-center items-center"
  >
  <ListCarreras/>
  </div>
</div>
<div
   class="lg:my-36 text-3xl flex-col font-semibold flex items-center text-center bg-white px-[2vw] lg:px-[10vw]"
   >
   <p>
    Creemos que cada individuo es un pilar fundamental en la construcci贸n de una naci贸n m谩s fuerte y pr贸spera. Por eso en Rey de Reyes atravez de la educaci贸n, la responsabilidad social y el trabajo conjunto,<strong> buscamos crear oportunidades que impulsen el desarrollo y el bienestar de todos los bolivianos</strong>, enriqueciendo nuestro pa铆s con <strong>
      innovaci贸n y dedicaci贸n
    </strong>.
   </p>
   <br>
   <p>
    隆Unidos, construimos el futuro que merecemos! Con <strong>esfuerzo y perseverancia</strong>. Trabajemos juntos para forjar un camino de libertad y crecimiento para las futuras generaciones. Que nuestro amor por la patria sea el motor que nos impulse hacia un horizonte de prosperidad y grandeza
   </p>
</div>
<div class="my-10">
  <h2 class="subtitle text-center text-2xl lg:text-5xl font-bold">
    NUESTRAS SUCURSALES
  </h2>
  <div>
    <ListaSucursales />
  </div>
</div>
  <h2 class="subtitle text-center text-2xl lg:text-5xl font-bold">
    GALERIA DE FOTOS
  </h2>
  <div class="w-full py-2 grid place-items-center m-auto bg-gray-100">
    <GaleriaPrincipal />
  </div>
  
  <h2 class="subtitle text-center text-2xl lg:text-5xl font-bold">
    NOTICIAS
  </h2>
  <ListNoticias />
</Layout>
<style>
  h3 {
    font-weight: 700;
  }
  
  .save:hover .svg {
    fill: #ced8de;
  }
</style>
