---
import Layout from "../layouts/Layout.astro";
import Present from "../components/CarruselesFotos/Present.astro";
import ListaSucursales from "../components/Lists/ListaSucursales.astro";
import ListCarreras from "../components/Lists/ListCarreras.astro";
import GaleriaPrincipal from "../components/CarruselesFotos/GaleriaPrincipal.astro";
import ListNoticias from "../components/Lists/ListNoticias.astro";
import BannerInicioPrinc from "../components/BannerInicioPrinc.astro";
---

<Layout title="Rey de Reyes | Instituro academico ">

  <BannerInicioPrinc />

  <div
    class="my-10 flex-col font-semibold flex items-center text-center bg-white p-7 lg:p-14"
  >
    <p
      class="presentacion scale-75 text-[1rem] md:text-lg xl:text-2xl 2xl:text-4xl"
    >
      ¡Estudia con nosotros! Somos el mejor centro de estudios y cursos en la Bolivia ¡te esperamos!
    </p>
  </div>

  <div class="my-10 w-auto h-auto">
    <h2 class="my-7 subtitle -translate-x-[50%] italic text-center text-3xl lg:text-6xl font-black text-[#d94a00]">
      <span class="font-[Adelia] text-blue-950 text-xl md:text-3xl">Nuestras</span>Carreras 
    </h2>
    <div
      class="my-10 relative w-full bg-gray-200 p-6 flex justify-center items-center"
    >
      <ListCarreras />
    </div>
  </div>

  <div
    class="lg:my-36 flex-col font-semibold flex items-center text-center bg-white px-[2vw] lg:px-[10vw] overflow-hidden"
  >
    <p
      class="p-Animation translate-x-[50%] opacity-45 text-[1rem] md:text-lg xl:text-2xl 2xl:text-4xl"
    >
      ¡Unidos, construimos el futuro que merecemos! Con <strong
        >esfuerzo y perseverancia</strong
      >. Trabajemos juntos para forjar un camino de libertad y crecimiento para
      las futuras generaciones. Que nuestro amor por la patria sea el motor que
      nos impulse hacia un horizonte de prosperidad y grandeza
    </p>
  </div>

  <ListaSucursales />

  <GaleriaPrincipal />

  <ListNoticias />
</Layout>
<style>
  h3 {
    font-weight: 700;
  }
  p {
    transition: 1s all;
  }
  .p-Animation {
    transition: 1s all;
  }
  .save:hover .svg {
    fill: #ced8de;
  }
</style>
<script>
  const parrafos = document.querySelectorAll(".p-Animation");
  const presentacion = document.querySelector(".presentacion");
  const subtitles = document.querySelectorAll(".subtitle");
  const options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  };
  function SubtitleAnimation(entrys,obserber){
    entrys.forEach((entry) => {
      if (entry.isIntersecting) {
        if (entry.target.classList.contains("-translate-x-[50%]")) {
          entry.target.classList.remove("-translate-x-[50%]");
        }
      }
    });
  }
  function AnimacionParrafos(entrys, obserber) {
    entrys.forEach((entry) => {
      if (entry.isIntersecting) {
        if (entry.target.classList.contains("translate-x-[50%]")) {
          entry.target.classList.remove("translate-x-[50%]");
          entry.target.classList.remove("opacity-45");
        }
        if (entry.target.classList.contains("-translate-x-[50%]")) {
          entry.target.classList.remove("-translate-x-[50%]");
          entry.target.classList.remove("opacity-45");
        }
      }
    });
  }
  function PresentacionAnimation(entrys, observe) {
    entrys.forEach((entry) => {
      if (entry.isIntersecting) {
        if (entry.target.classList.contains("scale-75")) {
          entry.target.classList.remove("scale-75");
        }
      }
    });
  }
  let entryParrafo = new IntersectionObserver(AnimacionParrafos, options);
  parrafos.forEach((parrafo) => {
    entryParrafo.observe(parrafo);
  });
  let obserberPresent = new IntersectionObserver(
    PresentacionAnimation,
    options,
  );
  obserberPresent.observe(presentacion);
  let subtitleAnimations=new IntersectionObserver(SubtitleAnimation, options)
  subtitles.forEach(subtitle => {
    subtitleAnimations.observe(subtitle)
  });
</script>
