---
import Layout from "../layouts/Layout.astro";
import BannerInicio from "../components/BannerInicio.astro";
---
<Layout title="Rey de Reyes | Sobre Nosotros">
    <BannerInicio 
        imagen="https://www.shutterstock.com/image-photo/happy-team-high-school-girls-600nw-1892185096.jpg"
        titulo="Sobre Nosotros"
    />
    <div class="px-[8%] my-10">
        <h2 class="subtitle text-2xl xl:text-4xl">CONÓCENOS</h2>
        <p class="text-[1rem] md:text-lg xl:text-2xl 2xl:text-4xl font-semibold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quidem similique laudantium ratione quisquam provident, eveniet aut autem, reprehenderit, quos unde. Ipsum error laborum enim explicabo ipsam culpa sunt quae aliquid impedit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quidem similique laudantium ratione quisquam provident, eveniet aut autem, reprehenderit, quos unde. Ipsum error laborum enim explicabo ipsam culpa sunt quae aliquid impedit.
        </p>
        <br>
        <br>
        <p class="text-[1rem] md:text-lg xl:text-2xl 2xl:text-4xl font-semibold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quidem similique laudantium ratione quisquam provident, eveniet aut autem, reprehenderit, quos unde. Ipsum error laborum enim explicabo ipsam culpa sunt quae aliquid impedit.
        </p>
    </div>
</Layout>