---
import Layout from "../layouts/Layout.astro";
import BannerInicio from "../components/BannerInicio.astro";
import CardSucursal from "../components/Cards/CardSucursal.astro";
---

<Layout title="Rey de Reyes | Todas nuestras sucursales en Bolivia">
  <BannerInicio
    titulo="Nuestras Sucursales"
    imagen="https://eresmama.com/wp-content/uploads/2019/10/estudiantes-adolescentes-motivacion.jpg"
  />
  <div class="px-[10%] py-[2%] bg-orange-100">
    <h2 class="subtitle text-4xl md:text-6xl font-medium">Conóce Nuestras Sucursales</h2>
    <CardSucursal
      sucursalImagen="la-paz"
      sucursalIcon="icono-la-paz"
      sucursal="La Paz"
      route="LaPaz"
    />
    <CardSucursal 
    sucursalImagen="el-alto"
      sucursalIcon="icono-el-alto"
      sucursal="El Alto"
      route="ElAlto"
    />
    <CardSucursal 
      sucursalImagen="cbba"
      sucursalIcon="icono-cocha"
      sucursal="Cochabamba"
      route="Cochabamba"
    />
    <CardSucursal 
      sucursalImagen="quillacollo"
      sucursalIcon="icono-quilla"
      sucursal="Santa Cruz"
      route="SantaCruz"
    />
  </div>
</Layout>
<script>
  const cardEfect = document.querySelectorAll('.cardEfect')
  let options = {
  root: null,
  rootMargin: "0px",
  threshold: 0.5,
}
function loadCard(entry, observer) {
  entry.forEach((entrada) => {
    if (entrada.isIntersecting) {
      if (entrada.target.classList.contains("opacity-10")) {
					entrada.target.classList.replace(
						"opacity-10",
						"opacity-100",
					);
			}
    }
  });
};
let observer = new IntersectionObserver(loadCard,options);
cardEfect.forEach(card=>{
  observer.observe(card)
})
</script>