<div class="my-20 md:my-36">
  <h2 class="my-7 subtitle -translate-x-[50%] italic text-center text-3xl lg:text-6xl font-black text-[#d94a00]">
    <span class="font-[Adelia] text-blue-950 text-xl md:text-3xl">Galeria de</span> Fotos 
  </h2>
  <div id="galeriaPrincipal" class="carousel slide w-full h-[40vh] lg:h-[30vw]">
    <div id="loadImages" class="carousel-inner"></div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#galeriaPrincipal"
      data-bs-slide="prev"
    >
      <span class="" aria-hidden="true"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="#000000"
          class="icon icon-tabler icons-tabler-filled icon-tabler-player-track-prev"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M20.341 4.247l-8 7a1 1 0 0 0 0 1.506l8 7c.647 .565 1.659 .106 1.659 -.753v-14c0 -.86 -1.012 -1.318 -1.659 -.753z"
          ></path><path
            d="M9.341 4.247l-8 7a1 1 0 0 0 0 1.506l8 7c.647 .565 1.659 .106 1.659 -.753v-14c0 -.86 -1.012 -1.318 -1.659 -.753z"
          ></path></svg
        ></span
      >
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#galeriaPrincipal"
      data-bs-slide="next"
    >
      <span class="" aria-hidden="true"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="#000000"
          class="icon icon-tabler icons-tabler-filled icon-tabler-player-track-next"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M2 5v14c0 .86 1.012 1.318 1.659 .753l8 -7a1 1 0 0 0 0 -1.506l-8 -7c-.647 -.565 -1.659 -.106 -1.659 .753z"
          ></path><path
            d="M13 5v14c0 .86 1.012 1.318 1.659 .753l8 -7a1 1 0 0 0 0 -1.506l-8 -7c-.647 -.565 -1.659 -.106 -1.659 .753z"
          ></path></svg
        ></span
      >
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<script>
  import ImagesPrincipalJSON from "../EditarImagenesNoticias/ImagesPrincipalJSON.json";
  const loadImages = document.getElementById("loadImages");
  loadImages.innerHTML = ImagesPrincipalJSON.map((imagenes) => {
    if (ImagesPrincipalJSON[0].imagen === imagenes.imagen) {
      return `<div class="carousel-item active ">
                <img src=${imagenes.imagen} class="object-contain w-full h-[40vh] lg:h-[30vw]" alt=${imagenes.tituloImagen}}>
              </div>`;
    } else {
      return `<div class="carousel-item ">
                <img src=${imagenes.imagen} class="object-contain w-full h-[40vh] lg:h-[30vw]" alt=${imagenes.tituloImagen}}>
              </div>`;
    }
  }).join("");

</script>
