---
import Titulo from "../Titulo.astro"
---
<div class="bg-gradient-to-l to-black to-90% from-blue-800 relative bg-opacity-5">
    <div class="absolute z-40 bottom-2 md:bottom-[3%] md:left-12 flex justify-center items-center">
        <Titulo />
    </div>
    <div
        id="carruselPresent"
        class="carousel slide z-30 opacity-25 h-full w-full"
        data-bs-ride="carousel"
    >
        <div id="loadImages2" class="carousel-inner"></div>
    </div>
</div>

<script>
    import CarruselPresentacion from "../CarruselPresentacion.json";
    const loadImages = document.getElementById("loadImages2");
    loadImages.innerHTML = CarruselPresentacion.map((imagenes) => {
        if (CarruselPresentacion[0].imagen === imagenes.imagen) {
            return `<div class="carousel-item items active w-full h-[70vh]">
        <img class="object-cover w-full h-full" src=${imagenes.imagen} class="d-block w-100" alt=${imagenes.tituloImagen}>
      </div>`;
        } else {
            return `<div class="carousel-item items w-full h-[70vh]">
        <img class="object-cover w-full h-full" src=${imagenes.imagen} class="d-block w-100" alt=${imagenes.tituloImagen}>
        </div>`;
        }
    }).join("");
</script>
