---
const { facebook, tiktok, instagram, threads } = Astro.props;
---

<footer
    class="w-full justify-center items-center flex flex-wrap md:flex-row bg-[#00007e] p-2 gap-10 md:gap-24 text-white"
>
    <img class="w-[40%] md:w-[15%]" src="/mapa.png" alt="" />

    <div class="flex flex-col justify-center items-center">
        <h3 class="font-bold tex-xl md:text-5xl text-[orange]">
            Siguenos en nuestras redes sociales
        </h3>
        <div class="flex flex-wrap justify-around items-center">
            <a href=`${facebook}` target="_blank">
                <img class="w-[65px] md:w-[60%]" src="/Iconos/facebook.png" alt="icono facebook" />
            </a>
            <a href=`${tiktok}` target="_blank">
                <img class="w-[65px] md:w-[60%]" src="/Iconos/tiktok.png" alt="icono facebook" />
            </a>
            <a href=`${instagram}` target="_blank">
                <img class="w-[65px] md:w-[60%]" src="/Iconos/instagram.png" alt="icono facebook" />
            </a>
            <a href=`${threads}` target="_blank">
                <img class="w-[65px] md:w-[60%]" src="/Iconos/thends.png" alt="icono facebook" />
            </a>
        </div>
        <div class="flex flex-wrap justify-center items-center w-[100%]">
            <a href="https://www.youtube.com/@institutoreydereyesbolivia"
                ><img class="w-[65px] md:w-[60%]" src="/Iconos/youtube.png" alt="icono de youtube" /></a
            >
            <a href="https://x.com/Instreydereyes">
                <img class="w-[65px] md:w-[60%]" src="/Iconos/x.png" alt="icono de x" />
            </a>
        </div>
    </div>
</footer>

<style>
    h4 {
        color: orange;
    }
</style>
