<footer
    class="w-full justify-center items-center flex flex-col md:flex-row bg-[#00007e] p-5 gap-10 md:gap-24 text-white "
>
    <div>
        <img class="w-[40%] md:w-[15%]" src="/mapa.png" alt="">
    </div>
</footer>

<style>
    h4 {
        color: orange;
    }
</style>
