
<a class="relative z-30 w-[30%] md:w-[20%] lg:w-[16%] flex justify-center items-center" href="/">
    <img class="w-[60%] z-10" src="/Logo.png" alt="logo de Rey de Reyes">
    <img class="absolute w-[100%] z-0" src="/bolivia.png" alt="">
</a>