<div
  id="carreras"
  class="carousel slide w-full h-full"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1800">
      <a
        class="m-auto bg-green-500 relative w-[80%] h-[240px] md:h-[500px] rounded-3xl flex flex-col justify-center items-center p-3 "
        href="/carreras"
      >
        <div class="z-10 text-white">
          <h2 class="text-xl md:text-5xl font-bold text-center">
            nombre de carrera
          </h2>
          <p class="text-sm">
            lorem ipsum dolor sit amet consectetur adipisicing elit. eligendi,
            recusandae.
          </p>
        </div>
      </a>
    </div>
    <div class="carousel-item" data-bs-interval="1800">
      <a
      class="m-auto bg-black relative w-[80%] h-[240px] md:h-[500px] rounded-3xl flex flex-col justify-center items-center p-3 "
      href="/Sucursales"
    >
    <div class="z-10 text-white">
      <h2 class="text-xl md:text-5xl font-bold text-center">
        nombre de carrera
      </h2>
      <p class="text-sm">
        lorem ipsum dolor sit amet consectetur adipisicing elit. eligendi,
        recusandae.
      </p>
    </div>
      <img
        class="w-full rounded-3xl h-full absolute z-0 object-cover opacity-35"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKwXdxd0Vxz-jSTp2TKtpQXB3kq65h225lvg&s"
        alt=""
      />
    </a>
    </div>
    <div class="carousel-item" data-bs-interval="1800">
      <a
        class="m-auto bg-red-600 relative w-[80%] h-[240px] md:h-[500px] rounded-3xl flex flex-col justify-center items-center p-3 shadow-sm"
        href="/carreras"
      >
        <div class="z-10 text-white">
          <h2 class="text-xl md:text-5xl font-bold text-center">
            nombre de carrera
          </h2>
          <p class="text-sm">
            lorem ipsum dolor sit amet consectetur adipisicing elit. eligendi,
            recusandae.
          </p>
        </div>
      </a>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carreras"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carreras"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
