<header class="h-20 bg-orange-700 flex justify-around items-center">
    <h1>Rey de Reyes</h1>1
    <nav>
        <ul class="flex gap-10 text-3xl items-center justify-center">
            <li><a href="/">Inicio</a></li>
            <li><a href="/Sucursale">Sucursales</a></li>
            <li><a href="/Noticias">Noticias</a></li>
        </ul>
    </nav>
</header>
<style>
    li{
        font-size: 2rem;
        font-weight: 900; 
        color:rgb(0, 0, 0);
    }
</style>