<div
    class="flex flex-wrap justify-around mb-10 bg-gradient-to-l to-orange-600 from-yellow-400  p-6 gap-7"
  >
    <a
      class=""
      href="/Sucursales/LaPaz"
    >
      <img class="" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class=""
      href="/Sucursales/LaPaz"
    >
      <img class="" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class=""
      href="/Sucursales/LaPaz"
    >
      <img class="" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class=""
      href="/Sucursales/LaPaz"
    >
      <img class="" src="/sedeLaPaz.jpeg" alt="">
    </a>
  </div>
  <style>
    button{
      background:linear-gradient(to right, rgb(255, 81, 0), rgb(248, 224, 6));
      transition: 1.4s background !important;
    }
    button:hover{
      background:linear-gradient(to right, rgb(248, 224, 6), rgb(255, 81, 0));

    }
    h3{
        color: rgb(229 231 235);
    }
  </style>