<div
    class="flex flex-wrap justify-around mb-10 bg-orange-300 p-6 gap-7"
  >
    <a
      class=""
      href="/Sucursales/LaPaz"
    >
      <img class="w-[90%]" src="/sedeLaPaz.jpeg" alt="">
    </a>
    <a
      class="bg-gradient-to-l to-red-600 from-green-600 relative w-[85%] p-14 min-h-[10vh] lg:w-[800px] md:h-[49vh] rounded-xl flex justify-center items-center"
      href="/Sucursales/ElAlto"
    >
    <div class="z-10">
      <h2 class="text-2xl lg:text-5xl text-white">
        <strong class="text-blue-950">Rey de Reyes </strong>en El Alto
      </h2>
    </div>
      <button
      class=" text-lg lg:text-3xl font-bold text-white lg:p-3 w-[95%] absolute bottom-5 z-20 rounded-xl shadow-md  transition-all duration-75"
    >
      Ver Sucursal
    </button>
      <img
        class="rounded-xl w-full h-full absolute z-0 object-cover opacity-35"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0H4ykg_od1kSUN5rcK8phmxKu3nPJ-T2SXw&s"
        alt="Foto de la ciudad de El Alto"
      />
    </a>
    <a
      class="bg-gradient-to-r to-blue-200 from-blue-700 relative w-[85%] p-14 min-h-[10vh] lg:w-[800px] md:h-[49vh] rounded-xl flex justify-center items-center"
      href="/Sucursales/Cochabamba"
    >
    <div class="z-10">
      <h2 class="text-2xl lg:text-5xl text-white">
        <strong class="text-blue-950">Rey de Reyes </strong>en Cochabamba
      </h2>
    </div>
      <button
      class=" text-lg lg:text-3xl font-bold text-white p-1 lg:p-3 w-[95%] absolute bottom-5 z-20 rounded-xl shadow-md  transition-all duration-75"
    >
      Ver Sucursal
    </button>
      <img
        class="rounded-xl w-full h-full absolute z-0 object-cover opacity-35"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiN2cpoUNWDn3_FWN-EG4x_YUQX4bnZuFSCA&s"
        alt="Foto de la ciudad de Cochabamba"
      />
    </a>
    <a
      class="bg-gradient-to-r to-green-500 from-white relative w-[85%] p-14 min-h-[10vh] lg:w-[800px] md:h-[49vh] rounded-xl flex justify-center items-center"
      href="/Sucursales/SantaCruz"
    >
    <div class="z-10">
      <h2 class="text-2xl lg:text-5xl text-white">
        <strong class="text-blue-950">Rey de Reyes </strong>en Santa Cruz
      </h2>
    </div>
      <button
      class=" text-lg lg:text-3xl font-bold text-white p-1 lg:p-3 w-[95%] absolute bottom-5 z-20 rounded-xl shadow-md  transition-all duration-75"
    >
      Ver Sucursal
    </button>
      <img
        class="rounded-xl w-full h-full absolute z-0 object-cover opacity-35"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkhdJGrYt9G6m8Hm3n872_tKHouBX7pwAFXA&s"
        alt="Foto de la ciudad de Santa Cruz"
      />
    </a>
  </div>
  <style>
    button{
      background:linear-gradient(to right, rgb(255, 81, 0), rgb(248, 224, 6));
      transition: 1.4s background !important;
    }
    button:hover{
      background:linear-gradient(to right, rgb(248, 224, 6), rgb(255, 81, 0));

    }
    h3{
        color: rgb(229 231 235);
    }
  </style>