<div id="image-present" class="h-[50vh] transitio-[1s opacity] bg-orange-300 flex justify-center items-center">
    <img src="/present.jpg" alt="Rey de Reyes">
    <h1>Rey de Reyes instituto academoco Boliva</h1>
</div>

<script>
    const images=document.getElementById('image-present');
    setTimeout(()=>{
        images.classList.replace('opacity-0', 'opacity-100')
    },200)
</script>