<div class=" flex items-center justify-center px-36 md:justify-start w-[59%] h-full">
  <img class="ImageLetras z-10 title -translate-x-[50%]" src="/Letras1.png" alt="letras">
</div>
<style>
  img{
    transition: 1.3s all;
    text-shadow: .5px .5px 5px rgb(0, 0, 0);
  }
</style>
<script>
  const ImageLetras=document.querySelector('.ImageLetras')
    console.dir(ImageLetras)
    let i=1
    setInterval(() => {
        i++
        ImageLetras.attributes[1].nodeValue=`/Letras${i}.png`
        if(i===1 && ImageLetras.classList.contains('translate-x-[110%]') ){
          ImageLetras.classList.remove('translate-x-[110%]')
          ImageLetras.classList.remove('-translate-x-[50%]')
        }
        if(i===2){
          ImageLetras.classList.remove('-translate-x-[50%]')
          ImageLetras.classList.add('translate-x-[110%]')
        }
        if(i===2){
          return i=0
        }
    }, 3000);
</script>