<div class="flex items-center justify-center px-14 md:justify-start w-full h-full">
    <h1 class="title -translate-x-[50%] text-white text-center italic font-black z-10 lg:text-9xl text-[2.7rem] xl:text-[8vw]">
      <span class="-ml-[11vw] font-[Adelia] text-[#d94a00] text-[2.4vw]">Alcanza tu</span><br>
      SUEÑO
     </h1>
</div>
<style>
  h1{
    transition: 1.3s all;
    text-shadow: .5px .5px 5px rgb(0, 0, 0);
  }
</style>