<div class="flex items-center justify-center mt-20">
    <h1 class="text-blue-950 text-center z-10 lg:text-8xl text-3xl">
      REY DE REYES <br />
      <small>Excelencia en Educación</small>
     </h1>
  </div>