<div class="flex items-end justify-center px-6 md:justify-start w-full h-full">
    <h1 class="text-blue-700 text-center z-10 lg:text-8xl text-[2.7rem] xl:text-[6vw]">
      REY DE REYES <br />
      <small class="text-orange-500 text-xl md:text-4xl xl:text-[3vw]">Excelencia en Educación</small>
     </h1>
</div>
<style>
  h1{
    animation: 10s infinite parpadeo;
    text-shadow: .5px .5px 5px rgb(0, 0, 0);
  }
  
</style>