<div class="flex items-center justify-center">
    <h1 class="text-blue-400 text-center z-10 lg:text-8xl text-4xl">
      REY DE REYES <br />
      <small class="text-orange-500 text-xl md:text-4xl">Excelencia en Educación</small>
     </h1>
  </div>