<div class="flex items-center justify-center px-14 md:justify-start w-full h-full">
    <h1 class="text-white text-center italic font-black z-10 lg:text-9xl text-[2.7rem] xl:text-[8vw]">
      <span class="-ml-[11vw] font-[Adelia] text-[#d94a00] text-[2.4vw]">Alcanza tu</span><br>
      SUEÑO
     </h1>
</div>
<style>
  h1{
    animation: 2.2s entrada;
    text-shadow: .5px .5px 5px rgb(0, 0, 0);
  }
  @keyframes entrada {
    0%{
      transform: translateX(-500px);
    }
    100%{
      transform: translateX(0);
    }
  }
</style>