<div class="flex items-center justify-center px-24 md:justify-start w-[45%] h-full">
  <img class="z-10" src="/sueño.png" alt="letras">
</div>
<style>
  h1{
    transition: 1.3s all;
    text-shadow: .5px .5px 5px rgb(0, 0, 0);
  }
</style>