---
const {number} =Astro.props
---
<div id="icon-whats" class="fixed right-0 bottom-0 z-40">
    <a class="" href=`https://wa.me/+591${number}` target="_blank">
        <img class="w-[80px] md:w-[200px]" src="/Iconos/whatsapp.png" alt="icono de whatsapp">
    </a>
</div>
