---
import Footer from "../../components/CompImportant/FooterS.astro";
import Layout from "../../layouts/Layout.astro";
import BannerInicio from "../../components/BannerInicio.astro";
---

<Layout title="Rey de Reyes | Cochabamba">
  <BannerInicio
    titulo="Cochabamba"
    imagen="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkUNdl_j0Hn5m_WmE6pu65tY_G-uRUd3XqNg&s"
  />
  <div class="my-16">
    <h1 class="text-5xl md:text-7xl font-bold text-center mb-7">
      <span class="font-[Adelia] text-[#d94a00]">Sede de</span>Cochabamba
    </h1>
    <div class="flex flex-wrap md:flex-nowrap justify-center items-center">
      <div class="w-[45%]">
        <h2 class="subtitle text-center md:text-5xl text-2xl">Docentes</h2>
        <div
          id="Docentes"
          class="carousel slide w-[45%] mx-auto"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <div class="text-center">
                <img
                  src="https://tecdn.b-cdn.net/img/new/avatars/5.webp"
                  class="mx-auto mb-4 w-[100%] rounded-full"
                  alt="Avatar"
                />
                <h5 class="mb-2 text-xl font-medium leading-tight">John Doe</h5>
                <p class="text-neutral-500 dark:text-neutral-400">
                  Web designer
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="text-center">
                <img
                  src="https://tecdn.b-cdn.net/img/new/avatars/5.webp"
                  class="mx-auto mb-4 w-[100%] rounded-full"
                  alt="Avatar"
                />
                <h5 class="mb-2 text-xl font-medium leading-tight">John Doe</h5>
                <p class="text-neutral-500 dark:text-neutral-400">
                  Web designer
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="text-center">
                <img
                  src="https://tecdn.b-cdn.net/img/new/avatars/5.webp"
                  class="mx-auto mb-4 w-[100%] rounded-full"
                  alt="Avatar"
                />
                <h5 class="mb-2 text-xl font-medium leading-tight">John Doe</h5>
                <p class="text-neutral-500 dark:text-neutral-400">
                  Web designer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[45%]">
        <h2 class="subtitle text-center md:text-5xl text-2xl">
          Nuestros Ambientes
        </h2>
        <div id="ambientes" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="https://codersfree.nyc3.digitaloceanspaces.com/images/wipcPYgAf5rHW2qwAoiUuJoIpcppD2gPZUhj1Cgw.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://codersfree.nyc3.digitaloceanspaces.com/images/wipcPYgAf5rHW2qwAoiUuJoIpcppD2gPZUhj1Cgw.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://codersfree.nyc3.digitaloceanspaces.com/images/wipcPYgAf5rHW2qwAoiUuJoIpcppD2gPZUhj1Cgw.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#ambientes" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#ambientes" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <p class="text-center px-[15vw] my-16 text-lg">
      <strong>
        "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio
        praesentium eum id vitae debitis dolorum."
      </strong>
    </p>
  </div>
  <Footer slot="footer" />
</Layout>
