---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Whatsapp from '../components/whatsapp.astro'
import Header from '../components/HeaderComponents/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Rey de Reyes" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
		<title>{title}</title>
	</head>
	<body class="">
		<Header />
		<main class="">
			<slot />
			<Whatsapp />
		</main>
		<Footer /> 
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
	</body>
</html>
<style is:global>
	.selector-for-some-widget {
  box-sizing: content-box;
}
	*{
		box-sizing: border-box;
	}
	header,footer{
		width: 100%;
	}
	@font-face {
		font-family: "mont";
		src: url("/Fonts/Mont-Bold.ttf");
	}
	@font-face {
		font-family: "poppins";
		src: url("/Fonts/Poppins-Regular.ttf");
	}
	@font-face {
		font-family: "montserrat";
		src: url("/Fonts/Montserrat-Regular.otf");
	}
	body,html{
		background-color: #ffffff;
	}
	h1{
		font-family:"mont",'Times New Roman', Times, serif;
		color:#020236;
	}
	strong{
		font-family:"montserrat";
		color:#00002b;

	}
	.subtitle{
		font-family:"montserrat";
		color:#ff9100;
	}
	p,span,a{
		margin:10px;
		font-family: 'poppins';
	}
	p{
		font-size: 1.2rem;
	}
	@media (min-width: 768px) {
    p {
		font-size: 1.5rem;
    }
}
</style>