---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Whatsapp from '../components/whatsapp.astro'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Descubre la elegancia y el cuidado personal en manos de una profesional con experiencia y dedicación. Con años de experiencia en el mundo de la belleza, te ofrece una gama completa de servicios para realzar tu estilo y bienestar." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./Perfil/perfil.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
			<Whatsapp />
		</main>
		<Footer /> 
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "mont";
		src: url("/Fonts/Mont-Bold.ttf");
	}
	@font-face {
		font-family: "poppins";
		src: url("/Fonts/Poppins-Regular.ttf");
	}
	@font-face {
		font-family: "montserrat";
		src: url("/Fonts/Montserrat-Regular.otf");
	}
	body,html{
		background-color: #ffffff;
	}
	h1{
		font-family:"mont";
		color:#020236;
	}
	.subtitle{
		font-family:"montserrat";
		color:#ff9100;
	}
	p,span,a{
		margin:10px;
		font-family: 'poppins';
	}
</style>
