---
import Layout from "../../layouts/Layout.astro";
import BannerInicio from "../../components/BannerInicio.astro";
import Footer from "../../components/CompImportant/Footer.astro";
---

<Layout title="Escuelas Superiores de Formacion de Maestros (E.S.F.M)">
    <BannerInicio
        titulo="Escuelas Superiores de Formacion de Maestros (E.S.F.M)"
        imagen="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdD0nM29KRDR3mpizsCuzUKwahO1wjXa3CKQ&s"
    />
    <div class="flex flex-wrap gap-8 py-4 justify-around items-center bg-[#d94a00] text-white">
        <div class="flex flex-col justify-center items-center">
            <h3 class="bg-white md:w-[300px] text-center border-2 border-yellow-400 text-blue-950 p-2 px-5 rounded-2xl md:text-4xl font-bold italic">Materias</h3>
        <ul class="bg-blue-900 border-2 border-yellow-400 p-4 rounded-2xl md:text-3xl">
            <li>Conocimientos Generales</li>
            <li>Escritura y Redacción</li>
            <li>Razonamiento Lógico Matemático</li>
            <li>Razonamiento Verbal - Comprensión Lectora</li>
            <li>Ley 070 "Avelino Siñani" - Elizardo Pérez</li>
        </ul>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h3 class="bg-white md:w-[300px] text-center border-2 border-yellow-400 text-blue-950 p-2 md:px-5 rounded-2xl md:text-4xl font-bold italic">Seminarios y Talleres Gratuitos</h3>
        <ul class="bg-blue-900 border-2 border-yellow-400 p-4 rounded-2xl md:text-3xl">
            <li>Historia Universal</li>
            <li>Geografía</li>
            <li>Cívica</li>
            <li>Biología</li>
            <li>Constitución Política del Estado</li>
        </ul>
        </div>
    </div>
    <h2 class="my-14 md:text-5xl">
        Especialidades de<span
            class="text-blue-950 font-bold text-[1.5rem] md:text-[3.3rem]"
            >PRUEBA DE APTITUD</span
        >
    </h2>
        <div class="flex flex-wrap m-2 md:m-20 gap-10 justify-center items-center">
            <div class="flex flex-col w-[95%] md:w-[45%]">
                <div
                    class="rounded-2xl bg-blue-950 text-center font-bold text-xl md:text-5xl text-[yellow] p-3"
                >
                    <h3>Educación Física y Deportes</h3>
                </div>
                <ul class="rounded-2xl min-h-[400px] flex flex-col justify-center bg-white italic p-4 text-xl md:text-3xl">
                    <li>
                        <strong>Abdominales:</strong> repeticiones en 1 minuto
                    </li>
                    <li>
                        <strong>Flexión de Brazos en Piso:</strong> Rep. en 1 min.
                    </li>
                    <li>
                        <strong>Velocidad 50 metros:</strong> Tiempo en segundos
                    </li>
                    <li><strong>Course Navette</strong></li>
                    <li><strong>Flexibilidad del Tronco</strong></li>
                    <li><strong>Natación</strong>r 25 metros</li>
                    <li><strong>Coordinación de Voleibol</strong></li>
                    <li><strong>Coordinación Fútbol</strong></li>
                </ul>
            </div>
            <div class="flex flex-col w-[80%] md:w-[45%]">
                <div
                    class="rounded-2xl bg-blue-950 text-center font-bold text-xl md:text-5xl text-[yellow] p-3"
                >
                    <h3>Educación Musical</h3>
                </div>
                <ul class="rounded-2xl min-h-[400px] flex flex-col justify-center bg-white italic p-4 text-xl md:text-3xl">
                    <li>
                        <strong>Expresión Vocal:</strong> Interpretación de canciones
                        folklóricas
                    </li>
                    <li>
                        <strong>Expresión Instrumental:</strong> Capacidad de interpretación
                        de un instrumento armónico
                    </li>
                    <li>
                        <strong>Lenguaje Musical:</strong> Aprendizaje y desarrollo
                        de la lectura y escritura musical considerando los aspectos
                        rítmicos melódicos
                    </li>
                </ul>
            </div>
            <div class="flex flex-col w-[80%] md:w-[45%]">
                <div
                    class="rounded-2xl bg-blue-950 text-center font-bold text-xl md:text-5xl text-[yellow] p-3"
                >
                    <h3>Educación Inicial-Primaria en Familia Comunitaria</h3>
                </div>
                <ul class="rounded-2xl min-h-[400px] flex flex-col justify-center bg-white italic p-4 text-xl md:text-3xl">
                    <li><strong>Declamar un Poema</strong></li>
                    <li>
                        <strong>Relatar un Cuento</strong>
                    </li>
                    <li>
                        <strong>Lectura y Reflexión</strong> sobre un artículo educativo
                        relativo al desarrollo infantil
                    </li>
                    <li>
                        <strong>Escribir un Párrafo</strong> de 8 a 10 líneas del
                        porqué decidió ser maestro en Educación Inicial cuanta la
                        redacción y ortografía
                    </li>
                </ul>
            </div>
            <div class="flex flex-col w-[80%] md:w-[45%]">
                <div
                    class="rounded-2xl bg-blue-950 text-center font-bold text-2xl md:text-5xl text-[yellow] p-3"
                >
                    <h3>Artes Plásticas y Visuales</h3>
                </div>
                <ul class="rounded-2xl min-h-[400px] flex flex-col justify-center bg-white italic p-4 text-xl md:text-3xl">
                    <li>
                        <strong>Dibujo:</strong> Habilidad para plasmar imágenes
                        en superficies
                    </li>
                    <li>
                        <strong>Pintura:</strong> Habilidad para la expresión gráfica
                    </li>
                    <li>
                        <strong>Artesanía:</strong> Habilidad manual para la transformación
                        de materias (tejidos, adornos y tallados)
                    </li>
                    <li>
                        <strong>Modelado:</strong> Habilidad manual para la elaboración
                        de objetos tradicionales a partir del manejo del volumen
                        y espacial
                    </li>
                </ul>
            </div>
        </div>

        <div class="w-full">
            <div class="m-auto w-auto flex flex-col justify-center items-center p-7">
                <h3 class="shadow-lg bg-blue-900 border-2 border-[yellow] md:w-[500px] text-xl md:text-7xl italic font-bold text-yellow-500 p-3 text-center rounded-2xl">Beneficios</h3>
                <ul class="shadow-lg md:w-[700px] pl-10 italic border-2 border-[yellow] bg-[#d94a00] font-bold  md:text-3xl text-white p-3 rounded-2xl">
                    <li>Exámenes Pasados</li>
                    <li>Banco de Preguntas</li>
                    <li>Exámenes Simulacro</li>
                    <li>Documentos</li>
                    <li>Diversos textos de facultades</li>
                </ul>
            </div>
        </div>
        
        <Footer slot="footer"/>
</Layout>
<style>
    h2 {
        font-style: italic;
        font-family: "adelia";
        font-weight: 900;
        color: #d94a00;
        text-align: center;
    }
    ul{
        list-style-type: disc;
    }
    li{
        margin-left: 30px;
    }
</style>
