---
import Footer from "../../components/CompImportant/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import BannerInicio from "../../components/BannerInicio.astro";
---
<Layout title="Instituto | Rey de Reyes - Militares">
    <BannerInicio 
        titulo="Militares"
        imagen="https://static.nuso.org/media/cache/8d/0e/8d0e54fd042544b87c62d67d504efa6c.jpg"
    />
    <div class="EfectFacu flex flex-wrap bg-[#d94a00] justify-center items-center gap-7 w-full mb-20 py-10">
        <div class="w-[90%] md:w-[40%]">
            <h3 class="mx-auto text-2xl md:text-5xl italic font-bold text-center text-[#00007e]">Materias a llevar:</h3>
            <ul class="bg-white shadow-lg p-10 text-xl md:text-3xl rounded-3xl border-2 border-[yellow]">
                    <li>Matemática</li>
                    <li>Física</li>
                    <li>Química</li>
                    <li>Lenguaje</li>
                    <li>Historia</li>
                    <li>Geografía</li>
                    <li>Inglés</li>
                    <li>Cálculo I</li>
                    <li>Cívica</li>
                    <li>Biología</li>
            </ul>
        </div>
        <div class="EfectFacu w-[90%] md:w-[40%]">
            <h3 class="mx-auto text-2xl md:text-5xl italic font-bold text-center text-[#00007e]">Seminarios:</h3>
            <ul class="bg-white shadow-lg p-10 text-xl md:text-3xl rounded-3xl border-2 border-[yellow]">
                <li>Resolución de exámenes</li>
                <li>Oratoria y Liderazgo</li>
                <li>Técnicas de estudio</li>
                <li>Psicología</li>
                <li>Entrevista Personal</li>
            </ul>
        </div>
    </div>
        <div class="mx-auto flex flex-wrap justify-center items-center w-[90%] md:w-full gap-7 m-70 md:m-20 py-7">
            <div class="EfectFacu">
                <h2 class="mx-auto text-2xl md:text-5xl italic font-bold text-center text-[#00007e]"><span class=" font-['Adelia'] text-[#ed6d2e]">Preparación para el examen</span> <br> Psicológico-Psicotécnico-Psicométrico:</h2>
            <ul class="bg-white shadow-lg p-10 text-2xl md:text-3xl rounded-3xl border-2 border-[yellow]">
                <li>Aspecto de Personalidad</li>
                <li>Aptitudes Vocacionales-Manejo de Valores</li>
                <li>Características de Liderazgo</li>
                <li>Alteraciones Psicológicas</li>
                <li>Cuestionarios de Personalidad</li>
                <li>Proyectivos y Dibujos</li>
                <li>Test Verbal y otros</li>
            </ul>
            </div>
            <div class="EfectFacu">
                <div class="m-auto w-auto flex flex-col justify-center items-center p-7">
                    <h3 class="shadow-lg bg-blue-900 border-2 border-[yellow] md:w-[500px] text-xl md:text-7xl italic font-bold text-yellow-500 p-3 text-center rounded-2xl">Beneficios</h3>
                    <ul class="shadow-lg md:w-[700px] italic border-2 border-[yellow] bg-[#d94a00] font-bold  md:text-3xl text-white p-3 rounded-2xl">
                        <li>Prospectos</li>
                        <li>Exámenes Pasados</li>
                        <li>Banco de Preguntas</li>
                        <li>Exámenes Simulacro</li>
                        <li>Documentos</li>
                        <li>Diversos textos y otros</li>
                    </ul>
                </div>
            </div>
        </div>
       <img class="EfectFacu mx-auto w-[80%] md:w-[40%] mb-10" src="/polmil1.png" alt="PolMil foto">   
       <Footer name="footer"/>
</Layout>
<style>
    div,img{
        transition: 1s all;
    }
    img{
        filter: drop-shadow(
            0 0 10px black
        );
    }
    h3{
        font-family: 'adelia';
    }
    ul {
    }
    li{
        font-style: italic;
        margin: auto;
        text-align: center;
        font-family: 'montserrat';
        font-weight: 600;
    }
    .EfectFacu {
        transform: translateY(150px);
        opacity: 0.5;
    }
</style>
<script>
    const EfectFacu = document.querySelectorAll(".EfectFacu");
    const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.5,
    };
    function Efect(entrys, obsercer) {
        entrys.forEach((entry) => {
            if (entry.isIntersecting) {
                if (entry.target.classList.contains("EfectFacu")) {
                    entry.target.classList.remove("EfectFacu");
                }
            }
        });
    }
    const ObserverFacu = new IntersectionObserver(Efect, options);
    EfectFacu.forEach((facu) => {
        ObserverFacu.observe(facu);
    });
</script>