---
import Layout from "../../layouts/Layout.astro";
import BannerInicio from "../../components/BannerInicio.astro";
import Footer from "../../components/CompImportant/Footer.astro";
---

<Layout title="Instituto | Rey de Reyes - Universidades">
    <BannerInicio
        titulo="UNIVERSIDADES"
        imagen="https://www.eabolivia.com/images/stories/photos/umsa-bo.jpg"
    />
    <h2 class="EfectFacu duration-1000 text-center mt-10">
        Facultad de<span class="italic text-blue-950 text-[3rem] md:text-[4rem]"
            >Ingenieria</span
        >
    </h2>
    <div class="m-10 flex flex-wrap duration-1000 justify-center items-center gap-10">
        <div class="flex-col flex justify-center items-center gap-3 md:gap-7">
            <ul class="m-auto EfectFacu duration-1000 text-xl md:text-3xl">
                <li>Electromecánica</li>
                <li>Electrónica</li>
                <li>Civil</li>
                <li>Industrial</li>
                <li>Petrolera</li>
                <li>Ambiental</li>
                <li>Mecánica</li>
                <li>Metalurgica</li>
                <li>Alimentos</li>
                <li>Seguridad Industrial y Salud Ocupacional</li>
                <li>Producción Industrial</li>
            </ul>
        </div>
        <div class="rounded-2xl duration-1000 bg-[#d94a00] shadow-lg">
            <h3
                class="EfectFacu duration-1000 lg:text-2xl xl:text-3xl text-center font-bold text-white p-2"
            >
                Materias
            </h3>
            <div
                class="EfectFacu duration-1000 py-4 min-w-[250px] flex flex-col justify-start items-center rounded-2xl bg-white text-lg xl:text-2xl"
            >
                <span>Matemática</span><span>Física</span><span>Química</span
                ><span>Calculo I</span>
            </div>
        </div>
    </div>
    <h2 class="EfectFacu duration-1000 text-center mt-32">
        Facultad de<span class="italic text-blue-950 text-[2.5rem] md:text-[4rem]">Medicina</span
        >
    </h2>
    <div class="m-10 duration-1000 flex flex-wrap justify-center items-center gap-28">
        <div class="flex-col flex justify-center items-center gap-3 md:gap-7">
            <ul class="EfectFacu duration-1000 text-xl md:text-3xl grid gap-2 md:gap-5">
                <li>Enfermería</li>
                <li>Nutrición</li>
                <li>Odontología</li>
                <li>Bioquímica</li>
                <li>Veterinaria</li>
            </ul>
        </div>
        <div class="rounded-2xl duration-1000 bg-[#d94a00] shadow-lg">
            <h3
                class="EfectFacu duration-1000 lg:text-xl xl:text-2xl text-center font-bold text-white p-2"
            >
                Materias
            </h3>
            <div
                class="EfectFacu duration-1000 min-w-[250px] grid place-items-center rounded-2xl bg-white text-sm xl:text-xl"
            >
                <span>Matemática</span><span>Física</span><span>Química</span
                ><span>Bioligía</span><span>Lenguaje</span><span>Anatomia</span
                ><span>Inglés</span>
            </div>
        </div>
    </div>
    <h2 class="EfectFacu duration-1000 text-center mt-32">
        Facultad de<span class="italic text-blue-950 text-[2.3rem] md:text-[4rem]"
            >Ciencias Economicas</span
        >
    </h2>
    <div class="m-10 duration-1000 flex flex-wrap justify-center items-center gap-28">
        <div class="flex-col flex justify-center items-center gap-3 md:gap-7">
            <ul class="EfectFacu duration-1000 text-xl md:text-3xl grid gap-2 md:gap-5">
                <li>Administración de Empresas</li>
                <li>Conataduria Publica</li>
                <li>Economia</li>
            </ul>
        </div>
        <div class="rounded-2xl duration-1000 bg-[#d94a00] shadow-lg">
            <h3
                class="EfectFacu duration-1000 lg:text-xl xl:text-2xl text-center font-bold text-white p-2"
            >
                Materias
            </h3>
            <div
                class="EfectFacu duration-1000 min-w-[250px] grid place-items-center rounded-2xl bg-white text-sm xl:text-xl"
            >
                <span>Matemática(Conjuntos)</span>
                <span>Lenguaje(Literatura)</span>
            </div>
        </div>
    </div>
    <Footer slot="footer" />
</Layout>
<style>
    @media (min-width: 768px) {
        h2 {
        font-family: "adelia";
        font-size: 3rem;
        font-weight: 900;
        color: #d94a00;
    }
    }
    ul {
        list-style-type: disc;
    }
    li {
        color: rgb(1, 1, 109);
        font-weight: 600;
        font-style: italic;
    }
    span {
        color: rgb(1, 1, 109);
        font-family: "mont";
    }
    h2 {
        font-family: "adelia";
        font-size:2rem;
        font-weight: 900;
        color: #d94a00;
    }
    h3 {
        font-family: "adelia";
    }
    .EfectFacu {
        transform: translateY(150px);
        opacity: 0.5;
    }
</style>
<script>
    const EfectFacu = document.querySelectorAll(".EfectFacu");
    const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.67,
    };
    function Efect(entrys, obsercer) {
        entrys.forEach((entry) => {
            if (entry.isIntersecting) {
                if (entry.target.classList.contains("EfectFacu")) {
                    entry.target.classList.remove("EfectFacu");
                }
            }
        });
    }
    const ObserverFacu = new IntersectionObserver(Efect, options);
    EfectFacu.forEach((facu) => {
        ObserverFacu.observe(facu);
    });
</script>
